<!DOCTYPE html>
<html>
<head>
  <title>Treasure Hunt</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../assets/css/vendor.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/flat-admin.css">
  <!-- Theme -->
  <link rel="stylesheet" type="text/css" href="../assets/css/theme/blue-sky.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/theme/blue.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/theme/red.css">
  <link rel="stylesheet" type="text/css" href="../assets/css/theme/yellow.css">
</head>
<body>
  <div class="app app-default">
<script type="text/ng-template" id="sidebar-dropdown.tpl.html">
  <div class="dropdown-background">
    <div class="bg"></div>
  </div>
  <div class="dropdown-container">
    {{list}}
  </div>
</script>
<div class="app-container">
  
  <header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-7">
        <div class="logo"><img src="../assets/images/logo.png" alt="" class="img-responsive"></div>
      </div>
      <div class="col-xs-5">
       <div class="time-left-wrap">
        
       </div>
      </div>
    </div>
    </div>
  </header>
    <section>
    <div class="container-fluid">
     <h2 class="text-center main-title">Welcome to TREASURE HUNT 2017</h2>
     <br><br>
     <p class="text-center start-txt" data-text="Please wait...">Please wait...<br><span>TREASURE HUNT</span> will start soon</p>
     </div>
   </section>
  
</div>
  </div>
  
  <script type="text/javascript" src="../assets/js/vendor.js"></script>
  <script type="text/javascript" src="../assets/js/app.js"></script>
</body>
</html>